footer {
    background: #ffd9e1;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 2.5rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.footer img{
    opacity: 0.6;
}

.list a{
    padding: 2rem;
}

.list li {
    list-style: none;
}

.list {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

/* when hovering, make opacity 1 and make it bigger for these AND navbar */

.footer img:hover{
    transform: scale(1.1);
    opacity: 1;
}